html, body {
    margin: 0;
    padding: 0;
}

.e49_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:5177.81005859375px;
	position:absolute;
	background-repeat:no-repeat;
	background-size:cover;
	padding: 0%;
}
.e50_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:53px;
	position:absolute;
	left:-0.24853515625px;
	top:141.3349609375px;
}
.e50_598 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:100%;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_608 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1690px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_627 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_628 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_629 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_630 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_631 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_599 { 
	width:1375px;
	height:4981px;
	position:absolute;
	left:292.75146484375px;
	top:194.3349609375px;
}
.e50_600 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:26px;
	position:absolute;
	left:-0.24853515625px;
	top:0.3349609375px;
}
.e50_601 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:100%;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_603 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1521px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_604 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1563px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_605 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1615px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_607 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:1680px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_606 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1465px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_679 { 
	width:100%;
	height:115px;
	position:absolute;
	left:-0.24853515625px;
	top:25.3349609375px;
}
.e50_633 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:82px;
	position:absolute;
	left:362px;
	top:19px;
}
.e50_678 { 
	background-color:rgb(255, 255, 255);
	width:639px;
	height:45px;
	position:relative;
	left:900px;
	top:32px;
	border: 10px black solid;
}

.searchtxt{
	width:80%;
	border:0px;
	height: 90%;
}
.searchicon{
	width:40px;
	height: 40px;
	position: absolute;
    left: 90%;
    top: 0%;
	background-color: antiquewhite;
}

.e2_133 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:3290px;
	position:absolute;
}
.e2_134 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:1108px;
	top:2933px;
}
.e2_135 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_136 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:439px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e2_137 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e2_138 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e2_139 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e2_140 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e2_141 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e2_142 { 
	width:1375px;
	height:2767px;
	position:absolute;
	left:20%;
	top:200px;
}
.e4_2 { 
	width:1350px;
	height:844px;
	position:absolute;
	left:11px;
	top:131px;
}
.e4_3 { 
	width:133px;
	height:795px;
	position:absolute;
	left:20px;
	top:27px;
}
.e4_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:8px;
}
.e4_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:120px;
}
.e4_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:230px;
}
.e4_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:344px;
}
.e4_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:459px;
}
.e4_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:572px;
}
.e4_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:687px;
}
.e4_4 { 
	width:567px;
	height:795px;
	position:absolute;
	left:174px;
	top:27px;
}
.e4_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:544px;
	height:778px;
	position:absolute;
	left:11px;
	top:8px;
}
.e4_5 { 
	width:567px;
	height:795px;
	position:absolute;
	left:763px;
	top:27px;
}
.e4_14 { 
	color:rgba(0, 0, 0, 1);
	width:478px;
	height:101px;
	position:absolute;
	left:39px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e4_15 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:40px;
	position:absolute;
	left:45px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_2 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:40px;
	position:absolute;
	left:45px;
	top:295px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:48px;
	top:341px;
}
.e5_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:48px;
	top:405px;
}
.e5_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:148px;
	top:341px;
}
.e5_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:148px;
	top:405px;
}
.e5_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:248px;
	top:405px;
}
.e5_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:348px;
	top:405px;
}
.e5_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:448px;
	top:405px;
}
.e5_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:248px;
	top:341px;
}
.e5_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:348px;
	top:341px;
}
.e5_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:448px;
	top:341px;
}
.e5_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:475px;
	height:78px;
	position:absolute;
	left:48px;
	top:546px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e5_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:475px;
	height:78px;
	position:absolute;
	left:48px;
	top:656px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e5_20 { 
	width:1350px;
	height:1441px;
	position:absolute;
	left:11px;
	top:1026px;
}
.e5_16 { 
	width:1298px;
	height:67px;
	position:absolute;
	left:23px;
	top:26px;
}
.e5_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:17px;
	top:15px;
}
.e5_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:466px;
	top:15px;
}
.e5_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:912px;
	top:15px;
}
.e5_21 { 
	width:1298px;
	height:1207px;
	position:absolute;
	left:23px;
	top:111px;
}
.e5_22 { 
	color:rgba(0, 0, 0, 1);
	width:1119px;
	height:695px;
	position:absolute;
	left:90px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_254 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:1108px;
	top:2792px;
}
.e2_255 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_256 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1444px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e2_257 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1483px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e2_258 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1535px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e2_259 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:26px;
	position:absolute;
	left:1600px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e2_260 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1395px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e2_261 { 
	width:1920px;
	height:115px;
	position:absolute;
	left:1108px;
	top:2817px;
}
.e2_262 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:639px;
	height:55px;
	position:absolute;
	left:742px;
	top:32px;
}
.e2_263 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:82px;
	position:absolute;
	left:362px;
	top:19px;
}
