html, body {
    margin: 0;
    padding: 0;
}

.e49_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:5177.81005859375px;
	position:absolute;
	background-repeat:no-repeat;
	background-size:cover;
	padding: 0%;
}
.e50_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:53px;
	position:absolute;
	left:-0.24853515625px;
	top:141.3349609375px;
}
.e50_598 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:100%;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_608 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1690px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_627 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_628 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_629 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_630 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_631 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_599 { 
	width:1375px;
	height:4981px;
	position:absolute;
	left:292.75146484375px;
	top:194.3349609375px;
}
.e50_600 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:26px;
	position:absolute;
	left:-0.24853515625px;
	top:0.3349609375px;
}
.e50_601 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:100%;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_603 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1521px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_604 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1563px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_605 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1615px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_607 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:1680px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_606 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1465px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_679 { 
	width:100%;
	height:115px;
	position:absolute;
	left:-0.24853515625px;
	top:25.3349609375px;
}
.e50_633 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:82px;
	position:absolute;
	left:362px;
	top:19px;
}
.e50_678 { 
	background-color:rgb(255, 255, 255);
	width:639px;
	height:45px;
	position:relative;
	left:900px;
	top:32px;
	border: 10px black solid;
}

.searchtxt{
	width:80%;
	border:0px;
	height: 90%;
}
.searchicon{
	width:40px;
	height: 40px;
	position: absolute;
    left: 90%;
    top: 0%;
	background-color: antiquewhite;
}

.e5_77 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:3290px;
	position:absolute;
}
.e5_78 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:-2812px;
	top:2933px;
}
.e5_79 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_80 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:439px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_81 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_82 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_83 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_84 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_85 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_86 { 
	width:1375px;
	height:2767px;
	position:absolute;
	left:20%;
	top:200px;
}
.e5_87 { 
	width:1350px;
	height:844px;
	position:absolute;
	left:11px;
	top:131px;
}
.e5_88 { 
	width:133px;
	height:795px;
	position:absolute;
	left:20px;
	top:27px;
}
.e5_89 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:8px;
}
.e5_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:120px;
}
.e5_91 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:230px;
}
.e5_92 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:344px;
}
.e5_93 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:459px;
}
.e5_94 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:572px;
}
.e5_95 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:687px;
}
.e5_96 { 
	width:567px;
	height:795px;
	position:absolute;
	left:174px;
	top:27px;
}
.e5_97 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:544px;
	height:778px;
	position:absolute;
	left:11px;
	top:8px;
}
.e5_98 { 
	width:567px;
	height:795px;
	position:absolute;
	left:763px;
	top:27px;
}
.e5_99 { 
	color:rgba(0, 0, 0, 1);
	width:478px;
	height:101px;
	position:absolute;
	left:39px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e5_100 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:40px;
	position:absolute;
	left:45px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_101 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:40px;
	position:absolute;
	left:45px;
	top:295px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:48px;
	top:341px;
}
.e5_103 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:48px;
	top:405px;
}
.e5_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:148px;
	top:341px;
}
.e5_105 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:148px;
	top:405px;
}
.e5_106 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:248px;
	top:405px;
}
.e5_107 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:348px;
	top:405px;
}
.e5_108 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:448px;
	top:405px;
}
.e5_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:248px;
	top:341px;
}
.e5_110 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:348px;
	top:341px;
}
.e5_111 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:448px;
	top:341px;
}
.e5_112 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:475px;
	height:78px;
	position:absolute;
	left:48px;
	top:546px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e5_113 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:475px;
	height:78px;
	position:absolute;
	left:48px;
	top:656px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e5_114 { 
	width:1350px;
	height:1635px;
	position:absolute;
	left:7px;
	top:1013px;
}
.e5_115 { 
	width:1298px;
	height:67px;
	position:absolute;
	left:23px;
	top:26px;
}
.e5_116 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:17px;
	top:15px;
}
.e5_117 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:466px;
	top:15px;
}
.e5_118 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:912px;
	top:15px;
}
.e5_140 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1243px;
	height:292px;
	position:absolute;
	left:62px;
	top:276px;
}
.e5_141 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:60px;
	position:absolute;
	left:67px;
	top:151px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e5_142 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:131px;
	height:117px;
	position:absolute;
	left:77px;
	top:639px;
}
.e5_143 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:131px;
	height:117px;
	position:absolute;
	left:235px;
	top:639px;
}
.e5_144 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:131px;
	height:117px;
	position:absolute;
	left:585px;
	top:639px;
}
.e5_146 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:131px;
	height:117px;
	position:absolute;
	left:751px;
	top:639px;
}
.e5_147 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:132px;
	height:117px;
	position:absolute;
	left:918px;
	top:638px;
}
.e5_145 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:131px;
	height:117px;
	position:absolute;
	left:416px;
	top:639px;
}
.e5_148 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:773px;
	height:162px;
	position:absolute;
	left:145px;
	top:991px;
}
.e5_149 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:223px;
	height:247px;
	position:absolute;
	left:1006px;
	top:906px;
}
.e5_150 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:26px;
	position:absolute;
	left:153px;
	top:873px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_151 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:187px;
	height:34px;
	position:absolute;
	left:315px;
	top:873px;
}
.e5_152 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:162px;
	height:35px;
	position:absolute;
	left:153px;
	top:928px;
}
.e5_153 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:29px;
	position:absolute;
	left:239px;
	top:876px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_121 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:-2812px;
	top:2792px;
}
.e5_122 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_123 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1444px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_124 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1483px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_125 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1535px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_126 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:26px;
	position:absolute;
	left:1600px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_127 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1395px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_128 { 
	width:1920px;
	height:115px;
	position:absolute;
	left:-2812px;
	top:2817px;
}
.e5_129 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:639px;
	height:55px;
	position:absolute;
	left:742px;
	top:32px;
}
.e5_130 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:82px;
	position:absolute;
	left:362px;
	top:19px;
}
