

.e5_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:3290px;
	position:absolute;
}
.e5_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:-852px;
	top:2933px;
}
.e5_25 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_26 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:439px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_27 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_28 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_29 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_30 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_31 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e5_32 { 
	width:1375px;
	height:2767px;
	position:absolute;
	left:20%;
	top:200px;
}
.e5_33 { 
	width:1350px;
	height:844px;
	position:absolute;
	left:11px;
	top:131px;
}
.e5_34 { 
	width:133px;
	height:795px;
	position:absolute;
	left:20px;
	top:27px;
}
.e5_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:8px;
}
.e5_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:120px;
}
.e5_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:230px;
}
.e5_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:344px;
}
.e5_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:459px;
}
.e5_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:572px;
}
.e5_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:17px;
	top:687px;
}
.e5_42 { 
	width:567px;
	height:795px;
	position:absolute;
	left:174px;
	top:27px;
}
.e5_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:544px;
	height:778px;
	position:absolute;
	left:11px;
	top:8px;
}
.e5_44 { 
	width:567px;
	height:795px;
	position:absolute;
	left:763px;
	top:27px;
}
.e5_45 { 
	color:rgba(0, 0, 0, 1);
	width:478px;
	height:101px;
	position:absolute;
	left:39px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e5_46 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:40px;
	position:absolute;
	left:45px;
	top:204px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_47 { 
	color:rgba(0, 0, 0, 1);
	width:161px;
	height:40px;
	position:absolute;
	left:45px;
	top:295px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:48px;
	top:341px;
}
.e5_49 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:48px;
	top:405px;
}
.e5_50 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:148px;
	top:341px;
}
.e5_51 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:148px;
	top:405px;
}
.e5_52 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:248px;
	top:405px;
}
.e5_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:348px;
	top:405px;
}
.e5_54 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:448px;
	top:405px;
}
.e5_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:248px;
	top:341px;
}
.e5_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:348px;
	top:341px;
}
.e5_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:75px;
	height:50px;
	position:absolute;
	left:448px;
	top:341px;
}
.e5_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:475px;
	height:78px;
	position:absolute;
	left:48px;
	top:546px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e5_59 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:475px;
	height:78px;
	position:absolute;
	left:48px;
	top:656px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e5_60 { 
	width:1350px;
	height:1441px;
	position:absolute;
	left:11px;
	top:1026px;
}
.e5_61 { 
	width:1298px;
	height:67px;
	position:absolute;
	left:23px;
	top:26px;
}
.e5_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:17px;
	top:15px;
}
.e5_63 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:466px;
	top:15px;
}
.e5_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:370px;
	height:40px;
	position:absolute;
	left:912px;
	top:15px;
}
.e5_65 { 
	width:1298px;
	height:1207px;
	position:absolute;
	left:23px;
	top:111px;
}
.e5_131 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:60px;
	position:absolute;
	left:49px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e5_132 { 
	
	width:208px;
	height:62px;
	position:absolute;
	left:37px;
	top:122px;
}
.e5_137 { 
	
	width:1220px;
	height:625px;
	position:absolute;
	left:39px;
	top:214px;
}
.e5_138 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:501px;
	height:77px;
	position:absolute;
	left:388px;
	top:955px;
}
.e5_67 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:-852px;
	top:2792px;
}
.e5_68 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_69 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1444px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_70 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1483px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_71 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1535px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_72 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:26px;
	position:absolute;
	left:1600px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_73 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1395px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e5_74 { 
	width:1920px;
	height:115px;
	position:absolute;
	left:-852px;
	top:2817px;
}
.e5_75 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:639px;
	height:55px;
	position:absolute;
	left:742px;
	top:32px;
}
.e5_76 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:82px;
	position:absolute;
	left:362px;
	top:19px;
}

tbody{
	text-align: center;
}
