
.e60_339 { 
	width:1375px;
	height:1375px;
	position:absolute;
	overflow:hidden;
	top: 200px;
	left: 20%;
}
.e60_340 { 
	color:rgba(0, 0, 0, 1);
	width:671px;
	height:4px;
	position:absolute;
	left:50px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}
.e60_341 { 
	width:1375px;
	height:805px;
	position:absolute;
	left:0px;
	top:170px;
}
.e60_342 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:15px;
	position:absolute;
	left:217px;
	top:159px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e60_343 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:15px;
	position:absolute;
	left:168px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e60_344 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:15px;
	position:absolute;
	left:168px;
	top:289px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e60_345 { 
	color:rgba(0, 0, 0, 1);
	width:180px;
	height:15px;
	position:absolute;
	left:382px;
	top:158px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	
}
.e60_346 { 
	
	width:364px;
	height:31px;
	position:absolute;
	left:288px;
	top:224px;
}
.e60_347 { 
	
	width:247px;
	height:81px;
	position:absolute;
	left:164px;
	top:370px;
}
.e60_348 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:247px;
	height:81px;
	position:absolute;
	left:432px;
	top:370px;
}
.e60_349 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:364px;
	height:31px;
	position:absolute;
	left:288px;
	top:281px;
}
.e60_350 { 
	color:rgba(0, 0, 0, 1);
	width:770px;
	height:15px;
	position:absolute;
	left:50px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}

input {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

button {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
