
.e61_77 { 
	width:1375px;
	height:1800px;
	position:absolute;
	overflow:hidden;
	top: 200px;
	left: 20%;
}
.e61_78 { 
	color:rgba(0, 0, 0, 1);
	width:507px;
	height:4px;
	position:absolute;
	left:50px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}
.e61_79 { 
	width:1375px;
	height:805px;
	position:absolute;
	left:0px;
	top:170px;
}
.e61_80 { 
	
	width:1282px;
	height:1237px;
	position:absolute;
	left:48px;
	top:38px;
}
.e61_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1282px;
	height:39px;
	position:absolute;
	left:48px;
	top:1300px;
}
.e61_82 { 
	color:rgba(0, 0, 0, 1);
	width:775px;
	height:15px;
	position:absolute;
	left:60px;
	top:158px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}


.e61_80 table {
	width: 100%;
	border-collapse: collapse;
}

.e61_80 th,
.e61_80 td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.e61_80 th {
	background-color: #f2f2f2;
}

/* 비율 조절 */
.e61_80 th:nth-child(1),
.e61_80 td:nth-child(1) {
	width: 10%;
}


.e61_80 td:nth-child(2) {
	width: 20%;
	text-align: left; /* 수평 가운데 정렬 */
}

.e61_80 th:nth-child(3),
.e61_80 td:nth-child(3),
.e61_80 th:nth-child(4),
.e61_80 td:nth-child(4),
.e61_80 th:nth-child(6),
.e61_80 td:nth-child(6),
.e61_80 th:nth-child(5),
.e61_80 td:nth-child(5),
.e61_80 th:nth-child(2),
.e61_80 td:nth-child(2) {
	width: 10%;
}

.e61_80 th,
.e61_80 td {
	border: none;
	text-align: center; /* 수평 가운데 정렬 */
    vertical-align: middle; /* 수직 가운데 정렬 */
}
.mypagemenu{
	
	width: 200px;
	height: 300px;
	position: absolute;
	top: 420px;
	left: 200px;
}

.mypagemenu a{
	text-decoration: none; /* 밑줄 제거 */
	font-weight: bold;
	color: black;
}