html, body {
    margin: 0;
    padding: 0;
}

.e49_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:5177.81005859375px;
	position:absolute;
	background-repeat:no-repeat;
	background-size:cover;
	padding: 0%;
}
.e50_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:53px;
	position:absolute;
	left:-0.24853515625px;
	top:141.3349609375px;
}
.e50_597 a{
	color: azure;
	text-decoration: none;
}

.e50_598 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:100%;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_608 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1690px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_627 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_628 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_629 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_630 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_631 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e50_599 { 
	width:1375px;
	height:4981px;
	position:absolute;
	left:292.75146484375px;
	top:194.3349609375px;
}
.e50_600 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:26px;
	position:absolute;
	left:-0.24853515625px;
	top:0.3349609375px;
}
.e50_600 a{
	color: rgb(128, 128, 128);
	text-decoration: none;
}
.e50_601 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:100%;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_603 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1521px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_604 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1563px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_605 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1615px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_607 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:1680px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_606 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1465px;
	top:15%;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e50_679 { 
	width:100%;
	height:115px;
	position:absolute;
	left:-0.24853515625px;
	top:25.3349609375px;
}
.e50_633 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:110px;
	position:absolute;
	left:362px;
	top:5px;
}
.e50_678 { 
	background-color:rgb(255, 255, 255);
	width:639px;
	height:45px;
	position:relative;
	left:900px;
	top:32px;
	border: 10px black solid;
}

.search_txt{
	position: relative;
	top: 10px;
	left: 5%;
	width: 600px;
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
	float: left;
	font-size: 1rem;
	line-height: 30px;
}
.searchicon{
	width:40px;
	height: 40px;
	position: absolute;
    left: 90%;
    top: 0%;

}

.searchicon i{
	font-size: 40px;
	top: 5px;
}
.search_btn{
	border:none;}
