

.e26_176 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:5177.81005859375px;
	position:absolute;
}
.e26_199 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:797.5px;
	top:3720.66015625px;
}
.e26_200 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_201 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:439px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e26_202 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e26_203 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e26_204 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e26_205 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e26_206 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e26_207 { 
	width:1375px;
	height:4981px;
	position:absolute;
	left:20%;
	top:270px;
}
.e26_218 { 
	width:1193px;
	height:868px;
	position:absolute;
	left:84px;
	top:65px;
}
.e27_235 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1115px;
	height:782px;
	position:absolute;
	left:25px;
	top:15px;
}
.e26_219 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:126px;
	top:101px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e26_220 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:136px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_228 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:114px;
	top:227px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_225 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:836px;
	height:37px;
	position:absolute;
	left:245px;
	top:93px;
}
.e27_226 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:836px;
	height:37px;
	position:absolute;
	left:245px;
	top:159px;
}
.e27_229 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:836px;
	height:468px;
	position:absolute;
	left:245px;
	top:223px;
}
.e27_230 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:131px;
	height:45px;
	position:absolute;
	left:950px;
	top:34px;
}
.e27_231 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:990px;
	top:46px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_232 { 
	width:1193px;
	height:1418px;
	position:absolute;
	left:85px;
	top:944px;
}
.e27_236 { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1115px;
	height:1318px;
	position:absolute;
	left:25px;
	top:15px;
}
.e27_233 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:349px;
	height:315px;
	position:absolute;
	left:408px;
	top:170px;
}
.e27_234 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:21px;
	position:absolute;
	left:523px;
	top:315px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_237 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:105px;
	height:41px;
	position:absolute;
	left:522px;
	top:105px;
}
.e27_238 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:105px;
	height:41px;
	position:absolute;
	left:793px;
	top:295px;
}
.e27_239 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:552px;
	top:113px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_240 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:823px;
	top:303px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_241 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:349px;
	height:315px;
	position:absolute;
	left:408px;
	top:697px;
}
.e27_242 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:21px;
	position:absolute;
	left:523px;
	top:842px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_243 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:105px;
	height:41px;
	position:absolute;
	left:522px;
	top:632px;
}
.e27_244 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:105px;
	height:41px;
	position:absolute;
	left:793px;
	top:822px;
}
.e27_245 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:552px;
	top:640px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e27_246 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:823px;
	top:830px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e26_208 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:797.5px;
	top:3579.66015625px;
}
.e26_209 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_210 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1444px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e26_211 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1483px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e26_212 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1535px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e26_213 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:26px;
	position:absolute;
	left:1600px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e26_214 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1395px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e26_217 { 
	width:1920px;
	height:115px;
	position:absolute;
	left:797.5px;
	top:3604.66015625px;
}
.e26_216 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:639px;
	height:55px;
	position:absolute;
	left:742px;
	top:32px;
}
.e26_215 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:82px;
	position:absolute;
	left:362px;
	top:19px;
}
