

.e29_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:5177.81005859375px;
	position:absolute;
}
.e29_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:959.5px;
	top:2730.66015625px;
}
.e29_5 { 
	background-color:rgba(0, 132.599995136261, 255, 1);
	width:1920px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_6 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:439px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e29_7 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:635px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e29_8 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:843px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e29_9 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1040px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e29_10 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:26px;
	position:absolute;
	left:1248px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e29_11 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:26px;
	position:absolute;
	left:1456px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e29_12 { 
	width:1375px;
	height:4981px;
	position:absolute;
	top: 200px;
	left: 20%;
}
.e29_47 { 
	width:1314px;
	height:52px;
	position:absolute;
	left:29px;
	top:109px;
}
.e29_48 { 
	color:rgba(0, 0, 0, 1);
	width:45px;
	height:28px;
	position:absolute;
	left:1075px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e29_49 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:28px;
	position:absolute;
	left:1127px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e29_50 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:28px;
	position:absolute;
	left:1184px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e29_51 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:28px;
	position:absolute;
	left:1255px;
	top:7px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e29_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_54 { 
	width:1312px;
	height:0px;
	position:absolute;
	left:2px;
	top:42px;
}
.e29_55 { 
	width:1375px;
	height:300px;
	position:absolute;
	left:0px;
	top:167px;
}
.e29_59 { 
	width:210px;
	height:280px;
	position:absolute;
	left:14px;
	top:10px;
}
.e29_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_66 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_67 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_68 { 
	width:210px;
	height:280px;
	position:absolute;
	left:243px;
	top:10px;
}
.e29_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_70 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_71 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_72 { 
	width:210px;
	height:280px;
	position:absolute;
	left:470px;
	top:10px;
}
.e29_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_74 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_75 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_76 { 
	width:210px;
	height:280px;
	position:absolute;
	left:699px;
	top:10px;
}
.e29_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_78 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_79 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_80 { 
	width:210px;
	height:280px;
	position:absolute;
	left:925px;
	top:10px;
}
.e29_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_82 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_83 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_84 { 
	width:210px;
	height:280px;
	position:absolute;
	left:1151px;
	top:10px;
}
.e29_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_86 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_87 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_88 { 
	width:1375px;
	height:300px;
	position:absolute;
	left:0px;
	top:472px;
}
.e29_89 { 
	width:210px;
	height:280px;
	position:absolute;
	left:14px;
	top:10px;
}
.e29_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_91 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_92 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_93 { 
	width:210px;
	height:280px;
	position:absolute;
	left:243px;
	top:10px;
}
.e29_94 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_95 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_96 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_97 { 
	width:210px;
	height:280px;
	position:absolute;
	left:470px;
	top:10px;
}
.e29_98 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_99 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_100 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_101 { 
	width:210px;
	height:280px;
	position:absolute;
	left:699px;
	top:10px;
}
.e29_102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_103 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_104 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_105 { 
	width:210px;
	height:280px;
	position:absolute;
	left:925px;
	top:10px;
}
.e29_106 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_107 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_108 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_109 { 
	width:210px;
	height:280px;
	position:absolute;
	left:1151px;
	top:10px;
}
.e29_110 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_111 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_112 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_113 { 
	width:1375px;
	height:300px;
	position:absolute;
	left:0px;
	top:777px;
}
.e29_114 { 
	width:210px;
	height:280px;
	position:absolute;
	left:14px;
	top:10px;
}
.e29_115 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_116 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_117 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_118 { 
	width:210px;
	height:280px;
	position:absolute;
	left:243px;
	top:10px;
}
.e29_119 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_120 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_121 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_122 { 
	width:210px;
	height:280px;
	position:absolute;
	left:470px;
	top:10px;
}
.e29_123 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_124 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_125 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_126 { 
	width:210px;
	height:280px;
	position:absolute;
	left:699px;
	top:10px;
}
.e29_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_128 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_129 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_130 { 
	width:210px;
	height:280px;
	position:absolute;
	left:925px;
	top:10px;
}
.e29_131 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_132 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_133 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_134 { 
	width:210px;
	height:280px;
	position:absolute;
	left:1151px;
	top:10px;
}
.e29_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_136 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_137 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_138 { 
	width:1375px;
	height:300px;
	position:absolute;
	left:0px;
	top:1082px;
}
.e29_139 { 
	width:210px;
	height:280px;
	position:absolute;
	left:14px;
	top:10px;
}
.e29_140 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_141 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_142 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_143 { 
	width:210px;
	height:280px;
	position:absolute;
	left:243px;
	top:10px;
}
.e29_144 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_145 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_146 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_147 { 
	width:210px;
	height:280px;
	position:absolute;
	left:470px;
	top:10px;
}
.e29_148 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_149 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_150 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_151 { 
	width:210px;
	height:280px;
	position:absolute;
	left:699px;
	top:10px;
}
.e29_152 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_153 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_154 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_155 { 
	width:210px;
	height:280px;
	position:absolute;
	left:925px;
	top:10px;
}
.e29_156 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_157 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_158 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_159 { 
	width:210px;
	height:280px;
	position:absolute;
	left:1151px;
	top:10px;
}
.e29_160 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:180px;
	position:absolute;
	left:15px;
	top:18px;
}
.e29_161 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:76px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_162 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:83px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e29_163 { 
	width:1375px;
	height:61px;
	position:absolute;
	left:0px;
	top:1422px;
}
.e29_188 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:666px;
	top:15px;
}
.e29_189 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:725px;
	top:15px;
}
.e29_190 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:607px;
	top:15px;
}
.e29_191 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:19px;
	position:absolute;
	left:772px;
	top:22px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e29_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:959.5px;
	top:2589.66015625px;
}
.e29_38 { 
	background-color:rgba(228.4374949336052, 228.4374949336052, 228.4374949336052, 1);
	width:1920px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_39 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1444px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e29_40 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:26px;
	position:absolute;
	left:1483px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e29_41 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:26px;
	position:absolute;
	left:1535px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e29_42 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:26px;
	position:absolute;
	left:1600px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e29_43 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:1395px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10.699999809265137px;
	letter-spacing:0;
	line-height:px;
}
.e29_44 { 
	width:1920px;
	height:115px;
	position:absolute;
	left:959.5px;
	top:2614.66015625px;
}
.e29_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:639px;
	height:55px;
	position:absolute;
	left:742px;
	top:32px;
}
.e29_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:335px;
	height:82px;
	position:absolute;
	left:362px;
	top:19px;
}

