
.e61_102 { 
	width:1375px;
	height:1375px;
	position:absolute;
	overflow:hidden;
	top: 200px;
	left: 20%;
}
.e61_103 { 
	color:rgba(0, 0, 0, 1);
	width:507px;
	height:4px;
	position:absolute;
	left:50px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:px;
}
.e61_104 { 
	width:1375px;
	height:1171px;
	position:absolute;
	left:0px;
	top:170px;
}
.e61_105 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1282px;
	height:1002px;
	position:absolute;
	left:48px;
	top:38px;
}
.e61_106 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1282px;
	height:39px;
	position:absolute;
	left:48px;
	top:1071px;
}
.e61_107 { 
	color:rgba(0, 0, 0, 1);
	width:775px;
	height:15px;
	position:absolute;
	left:60px;
	top:158px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
