<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>블루사커</title>
	<style type="text/css">

	</style>
	
	<link rel="stylesheet" type="text/css" th:href="@{/../css/creategoods.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class=e49_2>
  <div class=e50_597>
    <div class="e50_598"></div>
    <span  class="e50_608"><a href="/glist_uniform">유니폼</a></span>
    <span  class="e50_627"><a href="/glist_shoes">축구화</a></span>
    <span  class="e50_628"><a href="/glist_socks">양말</a></span>
    <span  class="e50_629"><a href="/glist_clothes">의류</a></span>
    <span  class="e50_630"><a href="/glist_ball">축구공</a></span>
    <span  class="e50_631"><a href="/glist_gloves">골기퍼 장갑</a></span>
  </div>
    <div class=e50_600>
    <div class="e50_601"></div>
    <span th:if="${session.loggedInUserId == null}" class="e50_603">
		<a href="/login">로그인</a>	
    </span>
    <span th:if="${session.loggedInUserId != null}" class="e50_603" style="left:1515px;">
		<a href="/logout">로그아웃</a>
    </span>
    <span  class="e50_604"><a href="/mybox">장바구니</a></span>
    <span  class="e50_605"><a href="/edituser">마이페이지</a></span>
    <span  class="e50_607"><a href="/orders">주문/배송 조회</a></span>
    <span  class="e50_606"><a th:if="${session.loggedInUserId == null}" href="/signup1">회원가입</a></span>
  </div>
  <div class=e50_679>
    <div class="e50_633"><a href="/"><img src="../img/로고.png" style="width: 100%; height: 100%;"></a></div>
    <div class="e50_678"><input type="text" name="searchtxt" id="searchtxt" class="searchtxt">
    <div class="searchicon"><i class="fa-solid fa-magnifying-glass" style="width:45px; height:45px;"></i></div></div>
  </div>
  
  
  <!-- body 시작!!!!!!!!!!!!!!-->
  <div class=e26_207>
    <div class=e26_218>
		<div class="goods_info">
       		<form id="productForm" action="/creategoods" method="POST" enctype="multipart/form-data">
			    <label for="productName">상품명:</label>
			    <input type="text" id="productName" name="productName" required><br>
			
			    <label for="productPrice">가격:</label>
			    <input type="number" id="productPrice" name="productPrice" required><br>
			
			    <label for="productDescription">상세정보:</label>
			    <textarea id="productDescription" name="productDescription" required></textarea><br>
			    
			     <!-- 카테고리 선택 -->
			    <label for="category">카테고리:</label>
			    <select id="category" name="category" required>
			        <option value="축구화">축구화</option>
			        <option value="유니폼">유니폼</option>
			        <option value="의류">의류</option>
			        <option value="축구공">축구공</option>
			        <option value="골키퍼장갑">골키퍼 장갑</option>
			        <option value="양말">양말</option>
			    </select><br>
    
			    <div class="add_size">
					<div class="size-count-container" id="sizeCountContainer"></div>
        			<button id="addSizeButton" onclick="addSizeCountBox(event)">사이즈 및 수량 추가</button>
				</div>
			    <div class="add_goods" id="container">
				    <!-- 이미지와 템플릿을 담을 컨테이너 -->
				    <div id="templateContainer"></div>
				
				    <!-- 템플릿 추가 버튼 -->
				    <button id="addTemplateButton" onclick="addTemplate(event)">사진 추가</button>
				</div>
			
			    <button type="submit">게시</button>
			</form>
		</div>
    </div>
	
  </div>
<!-- body 끝!!!!!!!!!!!!!!-->

</div>
<script th:src="@{/../js/creategoods.js}"></script>
</body>

</html>