<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>블루사커</title>
	<style type="text/css">

	</style>
	
	<link rel="stylesheet" type="text/css" th:href="@{/../css/goodsview.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class=e49_2>
  <div class=e50_597>
    <div class="e50_598"></div>
    <span  class="e50_608"><a href="/glist_uniform">유니폼</a></span>
    <span  class="e50_627"><a href="/glist_shoes">축구화</a></span>
    <span  class="e50_628"><a href="/glist_socks">양말</a></span>
    <span  class="e50_629"><a href="/glist_clothes">의류</a></span>
    <span  class="e50_630"><a href="/glist_ball">축구공</a></span>
    <span  class="e50_631"><a href="/glist_gloves">골기퍼 장갑</a></span>
  </div>
    <div class=e50_600>
    <div class="e50_601"></div>
    <span th:if="${session.loggedInUserId == null}" class="e50_603">
		<a href="/login">로그인</a>	
    </span>
    <span th:if="${session.loggedInUserId != null}" class="e50_603" style="left:1515px;">
		<a href="/logout">로그아웃</a>
    </span>
    <span  class="e50_604"><a href="/mybox">장바구니</a></span>
    <span  class="e50_605"><a href="/edituser">마이페이지</a></span>
    <span  class="e50_607"><a href="/orders">주문/배송 조회</a></span>
    <span  class="e50_606"><a th:if="${session.loggedInUserId == null}" href="/signup1">회원가입</a></span>
  </div>
  <div class=e50_679>
    <div class="e50_633"><a href="/"><img src="../img/로고.png" style="width: 100%; height: 100%;"></a></div>
    <div class="e50_678"><input type="text" name="searchtxt" id="searchtxt" class="searchtxt">
    <div class="searchicon"><i class="fa-solid fa-magnifying-glass" style="width:45px; height:45px;"></i></div></div>
  </div>
  
  
  <!-- body 시작!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
  <div class=e2_142>
    <div class=e4_2>
      <div class=e4_3>
        <div class="e4_6"></div>
        <div class="e4_7"></div>
        <div class="e4_8"></div>
        <div class="e4_9"></div>
        <div class="e4_10"></div>
        <div class="e4_11"></div>
        <div class="e4_12"></div>
      </div>
      <div class=e4_4>
        <div class="e4_13"></div>
      </div>
      <div class=e4_5>
		  <span  th:text="${goods.gname}" class="e4_14"></span>
	      <span  th:text="${goods.price}+원" class="e4_15"></span>
	      
	      <span  class="e5_2">사이즈 선택</span>
	        <div class="size_choice">
			    <form action="/your_form_action" method="post">
		            <input type="hidden" name="selectedSize" id="selectedSize">
		            <div th:each="inventory, iterStat : ${inventories}">
		                <label>
		                    <input type="radio" name="size" value="${inventory.size}">
		                    <span th:text="${inventory.size}"></span>
		                </label>
		            </div>
		            <button type="submit" class="submit-button">구매하기</button>
		        </form>
			</div>
	        <div class="e5_15"></div>
      </div>
    </div>
    <div class=e5_20>
      <div class=e5_16>
        <div class="e5_17"></div>
        <div class="e5_18"></div>
        <div class="e5_19"></div>
      </div>
      <div class=e5_21>
		  <span  th:text="${goodsInfo.content}" class="e5_22"></span>
	  </div>
    </div>
  </div>
<!-- body 끝!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
  
  
</div>
<script th:src="@{/../js/goodsview.js}"></script>
</body>

</html>