<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>블루사커</title>
	<style type="text/css">

	</style>
	
	<link rel="stylesheet" type="text/css" th:href="@{/../css/goodslist.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
	<div class=e49_2>
  <div class=e50_597>
    <div class="e50_598"></div>
    <span  class="e50_608"><a href="/glist_uniform">유니폼</a></span>
    <span  class="e50_627"><a href="/glist_shoes">축구화</a></span>
    <span  class="e50_628"><a href="/glist_socks">양말</a></span>
    <span  class="e50_629"><a href="/glist_clothes">의류</a></span>
    <span  class="e50_630"><a href="/glist_ball">축구공</a></span>
    <span  class="e50_631"><a href="/glist_gloves">골기퍼 장갑</a></span>
  </div>
   <div class=e50_600>
    <div class="e50_601"></div>
    <span th:if="${session.loggedInUserId == null}" class="e50_603">
		<a href="/login">로그인</a>	
    </span>
    <span th:if="${session.loggedInUserId != null}" class="e50_603" style="left:1515px;">
		<a href="/logout">로그아웃</a>
    </span>
    <span  class="e50_604"><a href="/mybox">장바구니</a></span>
    <span  class="e50_605"><a href="/edituser">마이페이지</a></span>
    <span  class="e50_607"><a href="/orders">주문/배송 조회</a></span>
    <span  class="e50_606"><a th:if="${session.loggedInUserId == null}" href="/signup1">회원가입</a></span>
  </div>
  <div class=e50_679>
    <div class="e50_633"><a href="/"><img src="../img/로고.png" style="width: 100%; height: 100%;"></a></div>
    <div class="e50_678"><input type="text" name="searchtxt" id="searchtxt" class="searchtxt">
    <div class="searchicon"><i class="fa-solid fa-magnifying-glass" style="width:45px; height:45px;"></i></div></div>
  </div>
  
  
  <!-- body 시작!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
  <div class=e29_12>
    <div class=e29_47>
		<span  class="e29_48">
			<a href="/glist_gloves?&amp;sort=latest">최신순</a>
		</span>
		<span  class="e29_49">
			<a href="/glist_gloves?&amp;sort=star">인기순</a>
		</span>
		<span  class="e29_50">
			<a href="/glist_gloves?&amp;sort=high">높은 가격</a>
		</span>
		<span  class="e29_51">
			<a href="/glist_gloves?&amp;sort=low">낮은 가격</a>
		</span>
      <div class="e29_54"></div>
    </div>
    <div class=e29_55>
      <div class="grid-container">
		    <!-- 각 행에 6개의 상품을 표시 -->
		    <div th:each="goods, iterStat : ${goods}" class="grid-item">
		        <!-- 각 상품의 정보를 가져와서 표시 -->
		        <a th:href="@{'/goodsview/' + ${goods.gid}}">
		        	<img th:src="@{'/img/' + ${goods.mainp}}" alt="Goods Image" style="width: 170px; height: 170px;"><br>
		        </a>
		        <!-- 상품 이름 -->
		        <span th:text="${goods.gname}"></span><br>
		        <!-- 상품 가격 -->
		        <span th:text="${goods.price} + '원'"></span>
		    </div>
		</div>
    </div>
    <div class=e29_163>
      <div class="e29_188"></div>
      <div class="e29_189"></div>
      <div class="e29_190"></div><span  class="e29_191">다음</span>
    </div>
  </div>
  <!-- body 끝!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
  
</div>
</body>

</html>