<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>블루사커</title>
	<style type="text/css">

	</style>
	
	<link rel="stylesheet" type="text/css" th:href="@{/../css/IPSearch.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
	
</head>

<body>
<div class=e65_108>
 <div class=e50_597>
    <div class="e50_598"></div>
    <span  class="e50_608"><a href="/glist_uniform">유니폼</a></span>
    <span  class="e50_627"><a href="/glist_shoes">축구화</a></span>
    <span  class="e50_628"><a href="/glist_socks">양말</a></span>
    <span  class="e50_629"><a href="/glist_clothes">의류</a></span>
    <span  class="e50_630"><a href="/glist_ball">축구공</a></span>
    <span  class="e50_631"><a href="/glist_gloves">골기퍼 장갑</a></span>
  </div>
   <div class=e50_600>
    <div class="e50_601"></div>
    <span th:if="${session.loggedInUserId == null}" class="e50_603">
				<a href="/login">로그인</a>
			</span>
			<span th:if="${session.loggedInUserId != null}" class="e50_603" style="left:1515px;">
				<a href="/logout">로그아웃</a>
			</span>
			<span class="e50_604"><a href="/mybox">장바구니</a></span>
			<span class="e50_605"><a href="/edituser">마이페이지</a></span>
			<span class="e50_607"><a href="/orders">주문/배송 조회</a></span>
			<span class="e50_606" th:if="${session.loggedInUserId == null}" ><a href="/signup2">회원가입</a></span>
			<span class="e50_606" th:if="${session.loggedInUserId == 'admin'}"><a  href="/create">상품등록</a></span>
  </div>
  <div class=e50_679>
    <div class="e50_633"><a href="/"><img src="../img/로고.png" style="width: 100%; height: 100%;"></a></div>
    <div class="e50_678"><input type="text" name="searchtxt" id="searchtxt" class="searchtxt">
    <div class="searchicon"><i class="fa-solid fa-magnifying-glass" style="width:45px; height:45px;"></i></div></div>
  </div>
  
  
<!--	  여기부터 body입니다-->
<div class=e60_339><span  class="e60_340">아이디/비밀번호 찾기</span>
<form th:action="@{/ipsearch}" method="post">
  <div class=e60_341><span  class="e60_342">
	  <input type="checkbox" id="idfind" name="find" value="idfind" style="width: 20px;" checked>
<label style="width: 160px;">아이디 찾기</label>
</span>
	    <span  class="e60_345">
			<input type="checkbox" id="pwfind" name="find" value="pwfind" style="width: 20px;">
			<label style="width: 160px;">비밀번호 찾기</label></span>
	  <span  class="e60_343"><label for="username">이름</label></span>
	  <span  class="e60_344"><label for="email">이메일</label></span>
	
    <div class="e60_346"><input type="text" id="name" name="name"></div>
    <div class="e60_349"><input type="email" id="email" name="email"></div>
    <div class="e60_347"><input type="submit" value="찾기"></div>
    </form>
    <div class="e60_348"><button id="loginbtn">로그인</button></div>
    
  </div><span  class="e60_350">회원가입 시, 입력하신 이름 + 이메일로 아이디 및 비밀번호를 확인하실 수 있습니다.</span>
</div>


<!--여기가 끝입니다.-->
<script>
	const checkboxes = document.querySelectorAll('input[name="find"]');
  
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      // 하나의 체크박스를 선택하면 나머지는 해제
      checkboxes.forEach(otherCheckbox => {
        if (otherCheckbox !== checkbox) {
          otherCheckbox.checked = false;
        }
        });
      });
      });
      
    document.getElementById('loginbtn').addEventListener('click', function() {
        window.location.href = '/login'; // 이동할 페이지 경로를 설정
    });
    
      
      // HTML 문서가 로드될 때 실행
document.addEventListener('DOMContentLoaded', function () {
    // 체크박스 요소들 가져오기
    var findIdCheckbox = document.getElementById('idfind');
    var findPasswordCheckbox = document.getElementById('pwfind');

    // 이벤트 리스너 추가
    findIdCheckbox.addEventListener('change', function () {
        updateLabels(findIdCheckbox.checked);
    });

    findPasswordCheckbox.addEventListener('change', function () {
        updateLabels(!findPasswordCheckbox.checked);
    });

    // 초기 상태 설정
    updateLabels(findIdCheckbox.checked);
});

// 라벨 업데이트 함수 정의
function updateLabels(findIdChecked) {
    var usernameLabel = document.querySelector('label[for="username"]');
    var emailLabel = document.querySelector('label[for="email"]');
    var findIdtext = document.getElementById('name');

    if (findIdChecked) {
        usernameLabel.textContent = '이름';
        emailLabel.textContent = '이메일';
        
    } else {
        usernameLabel.textContent = '아이디';
        emailLabel.textContent = '이메일';
        
    }
}
</script>

<script th:inline="javascript">
		var sendMessage = /*[[${failedMessage}]]*/ "";
		if (sendMessage) {
			alert(sendMessage);
		}
	</script>
	<script th:inline="javascript">
		var sendMessage = /*[[${sMessage}]]*/ "";
		if (sendMessage) {
			alert(sendMessage);
		}
	</script>
  </div>

</body>

</html>