<!DOCTYPE HTML>
<html>

<head>
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>블루사커</title>
	<style type="text/css">

	</style>
	
	<link rel="stylesheet" type="text/css" th:href="@{/../css/Login.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
<div class=e65_108>
<div class=e50_597>
    <div class="e50_598"></div>
    <span  class="e50_608"><a href="/glist_uniform">유니폼</a></span>
    <span  class="e50_627"><a href="/glist_shoes">축구화</a></span>
    <span  class="e50_628"><a href="/glist_socks">양말</a></span>
    <span  class="e50_629"><a href="/glist_clothes">의류</a></span>
    <span  class="e50_630"><a href="/glist_ball">축구공</a></span>
    <span  class="e50_631"><a href="/glist_gloves">골기퍼 장갑</a></span>
  </div>
   <div class=e50_600>
    <div class="e50_601"></div>
    <span th:if="${session.loggedInUserId == null}" class="e50_603">
				<a href="/login">로그인</a>
			</span>
			<span th:if="${session.loggedInUserId != null}" class="e50_603" style="left:1515px;">
				<a href="/logout">로그아웃</a>
			</span>
			<span class="e50_604"><a href="/mybox">장바구니</a></span>
			<span class="e50_605"><a href="/edituser">마이페이지</a></span>
			<span class="e50_607"><a href="/orders">주문/배송 조회</a></span>
			<span class="e50_606" th:if="${session.loggedInUserId == null}" ><a href="/signup2">회원가입</a></span>
			<span class="e50_606" th:if="${session.loggedInUserId == 'admin'}"><a  href="/create">상품등록</a></span>
  </div>
  <div class=e50_679>
    <div class="e50_633"><a href="/"><img src="../img/로고.png" style="width: 100%; height: 100%;"></a></div>
    <div class="e50_678"><div class="searchradius">
			<form action="/search" method="get"> <!-- 검색창 주소 입력 -->
				<input type="text" th:value="${keyword}" name="keyword" class="search_txt" required>
				<button type="submit" class="search_btn">
					<span class="searchicon">
						<i class="fa-solid fa-magnifying-glass"></i>
					</span>
				</button>
			</form>
		</div></div>
  </div>
  
<!--	  여기부터 body입니다-->
<div class=e57_303><span  class="e57_304">로그인</span>
  <div class=e57_305><span  class="e57_306">아이디</span><span  class="e57_307">아직 회원이 아니세요?</span><span  class="e57_308">아이디 비밀번호가 기억나지 않으세요?</span><span  class="e57_309">비밀번호</span>
    <div class="e57_310"></div>
    <div class="e57_311"></div>
    <div class="e57_312"></div>
    <div class="e57_313"></div>
    <div class="e57_314"></div>
    <div class="e57_315"></div><span  class="e57_316">카카오 로그인하기</span>
  </div>
</div>


<!--여기가 끝입니다.-->

  </div>

</body>

</html>